include _partial/helpers

if page.title
  - var current_title = page.title
else
  - var current_title = config.title

if config.feed
  case config.feed.type
    when 'rss2'
      - var feed_type='application/rss+xml'
    when 'atom'
    default
      - var feed_type='application/atom+xml'

block content
  #layout.pure-g
    .pure-u-1.pure-u-md-24-24: .content_container(ng-controller="bodyCtrl")
      h1.post-title= page.title
      .post-content
        != page.content
    .pure-u-1.pure-u-md-24-24
      != partial('_partial/footer.jade')

